#
# Created by James Henderson on 2018
# Copyright (c) Hendercine Productions and James Henderson 2018.
# All rights reserved.
#
# Last modified 7/25/18 3:30 PM
#
# The keyStore points to the keystore file created by the keytool utility or by
# other frontends such as the keystore tool inside Android Studio. This file can
# live outside your source folder, which is generally a good idea though not
# mandatory. Be sure to backup the keystore to a safe location! It cannot be restored.
# If you lose the keystore you won’t be able to release new versions of your
# app!
#
# The keyAlias is the alias of the private key used to sign your app. You’ve
# specified this value when you set up the keystore.
#
# The keyStorePassword and keyAliasPassword are the passwords for the
# keystore and the private key, respectively. Again, as specified when you
# created the keystore.
#
# Set up your own signing by creating a file called keystore.properties and
# copying and pasting this template into it and adjusting the settings.

keyStore=release.keystore

keyStorePassword=mysecretpassword

keyAlias=myapp-release

keyAliasPassword=mysecretpassword
